/* Styles for (calculator webpage) */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: 'Montserrat';

    /* Navy Blue */
    background: #021D49;
    
  }
  
  .calculator {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #00CE7C,#F2F2F2);
  }

  input[type="text"] {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
  }


  /* Additional styles for the footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  
  .logo img {
    height: 40px; /* Adjust the height as needed */
  }


  .square{
    margin: 0 auto;
    text-align: center;
  }
